<input type="text" [(ngModel)]="title">
<h2>{{ title }}</h2>


<div [ngSwitch]="title">
  <p *ngSwitchCase="'rene'"> este es rene</p>
  <p *ngSwitchCase="'laura'">esta es laura</p>
  <p *ngSwitchCase="'david'">yo soy tu padre</p>
  <p *ngSwitchDefault> sin coincidencias </p>
</div>

<button (click)="addItem()">Agregar Item</button>

<ul>
  <li *ngIf="items.length === 0">la lista esta vacia</li>
  <li *ngFor="let item of items; index as i">
    {{ item }} {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product *ngFor="let product of products" 
  (productClicked)="clickProduct($event)" 
  [product]="product"></app-product>
</div>